# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.swp
*~

# Dependencias / build (para cuando el proyecto crezca)
node_modules/
dist/
build/
.cache/

# Logs y temporales
*.log
npm-debug.log*
.env
.env.local

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
